@media (max-width: 1250px){
    .logo{
        margin-left: 150px;
        margin-right: 150px;
    }
}
@media (max-width: 1150px){
    .logo{
        margin-left: 100px;
        margin-right: 100px;
    }
    .er{
        flex-direction: column;
    }
    .col-md-7{
        margin-top: 0px;
        margin-bottom: 50px;
    }
}
@media (max-width: 1050px){
    .logo{
        margin-left: 50px;
        margin-right: 100px;
    }
}
@media (max-width: 1000px){
    .logo{
        margin-left: 20px;
        margin-right: 200px;
    }
}
@media (max-width: 750px){
    .logo{
        margin-right: 150px;
    }
    .col-md-12{
        margin-bottom: 50px;
        width: 277px;
        height: 292px;
    }
    .photo{
        margin-top: 30px;
      }
}
@media (max-width: 670px){
    .logo{
        margin-right: 50px;
    }
}
@media (max-width: 570px){
    .btn-primary{
        display: none;
    }
    .logo{
        margin-right: 100px;
    }
    h{
        font-size: 30px;
        line-height: 40px;
    }
    h1{
        line-height: 60px;
        font-size: 50px;
    }
    a1{
        line-height: 30px;
    }
    .pup{
        margin-top: -150px;
    }
    .pop{
        margin-top: 100px;
      }


}
@media (max-width: 400px){
    .logo{
        margin-right: 50px;
    }
    .pod{
        font-size: 15px;
        line-height: 15spx;
    }
}
@media (max-width: 350px){
    .logo{
        margin-right: 20px;
    }
    .invalid-feedback{
        line-height: 20px;
    }
    .logo{
        margin-right: 10px;
        margin-left: 10px;
    }

}